window {
  background-color: rgba(25, 25, 25, 0.9);
  color: #ffffff;
}

#entry:selected {
  background-color: black;
  /* box-shadow: inset 0 -3px white; */
    
}

#text {
  color: white;
}

#input:focus {
  box-shadow: inset 0 -3px white;
}

#inner-box {
  color: white;
  
}
